<div class="relative md:ml-80">
       <div class="min-h-500-px bg-cover bg-center-top relative pb-20 items-center flex text-white" 
           #element { background-image: url(profile-cover.jpg);}>

         <span class="opacity-90 absolute top-0 left-o w-full h-full bg-gradient-to-r from-lightBlue-800 to-lightBlue-900"></span>
       
       
          <div class="md:px-10 px-4 items-center flex w-full mx-auto">
             <div class="flex flex-wrap -mx-4">
                <div class="relative w-full px-8 md:w-8/12 lg:w-7/12">
                   <h1 class="font-semibold leading-6 text-5xl mb-4 mt-0">Hello Jesse</h1>
                   <p class="mt-0 mb-12">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
                </div>
             </div>
          </div>
       </div>
         <div class="absolute ">

       {% include profile/profile-card.html %}
       {% include dashboard/footer.html %}

      </div>
  </div>






