<div class="relative md:ml-80 bg-blueGray-200">
    <nav class="absolute top-0 left-0 w-full z-10 bg-white lg:flex-row lg:flex-nowrap lg:justify-start flex items-center py-1 px-4 lg:bg-transparent">
       <div class="w-full mx-aut0 items-center flex justify-between lg:flex-nowrap flex-wrap lg:px-6 px-4">
          <a href="#pablo" class="text-blueGray-800 lg:text-white text-sm uppercase inline-block font-semibold my-3">Settings Page</a><button class="ml-auto cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-blueGray-400 rounded bg-transparent block outline-none focus:outline-none text-blueGray-300 lg:hidden" type="button"><i class="fas fa-bars"></i></button>
          <div class="items-center w-full lg:flex lg:w-auto flex-grow duration-300 transition-all ease-in-out lg:h-auto-important hidden">
             <form class="flex flex-row flex-wrap items-center ml-auto mr-3 mt-3">
                <div class="mb-3 pt-0"><input placeholder="Search here" type="text" class="border-transparent shadow px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 "></div>
             </form>
             <a class="text-blueGray-500 block" href="#pablo">
                <div class="items-center flex"><span class="w-12 h-12 text-sm text-white bg-blueGray-300 inline-flex items-center justify-center rounded-full"><img alt="..." class="w-full rounded-full align-middle border-none shadow-lg" src="https://demos.creative-tim.com/notus-pro-react/static/media/team-1-800x800.fa5a7ac2.jpg"></span></div>
             </a>
             <div class="block z-50">
                <div class="bg-white text-base float-left p-2 border list-none text-left rounded-lg shadow-lg min-w-48 transition-all duration-100 ease-in-out transform scale-95 opacity-0 absolute origin-top-right">
                   <a href="#pablo" class="text-sm px-3 py-2 block w-full whitespace-nowrap bg-transparent hover:bg-blueGray-100 rounded transition-all duration-100">Action</a><a href="#pablo" class="text-sm px-3 py-2 block w-full whitespace-nowrap bg-transparent hover:bg-blueGray-100 rounded transition-all duration-100">Another action</a><a href="#pablo" class="text-sm px-3 py-2 block w-full whitespace-nowrap bg-transparent hover:bg-blueGray-100 rounded transition-all duration-100">Something else here</a>
                   <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
                   <a href="#pablo" class="text-sm px-3 py-2 block w-full whitespace-nowrap bg-transparent hover:bg-blueGray-100 rounded transition-all duration-100">Seprated link</a>
                </div>
             </div>
          </div>
       </div>
    </nav>

    <div class="min-h-500-px bg-cover bg-center-top relative pb-20 items-center flex text-white" style="background-image: url(&quot;/notus-pro-react/static/media/profile-cover.97899245.jpg&quot;);">
       <span class="opacity-90 absolute top-0 left-o w-full h-full bg-gradient-to-r from-lightBlue-800 to-lightBlue-900"></span>
       <div class="md:px-8 px-4 items-center flex w-full mx-auto">
          <div class="flex flex-wrap -mx-4">
             <div class="relative w-full px-4 md:w-10/12 lg:w-7/12">
                <h1 class="font-semibold leading-6 text-5xl mb-4 mt-0">Hello Jesse</h1>
                <p class="mt-0 mb-12">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
                <button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-blueGray-800 bg-blueGray-200 border-blueGray-200 active:bg-blueGray-300 active:border-blueGray-300 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md">Edit profile</button>
             </div>
          </div>
       </div>
    </div>

    <div class="px-4 md:px-10 mx-auto w-full -mt-24">
       <div class="relative w-full h-500-px bg-white text-center flex flex-col items-center justify-center content-center border border-solid border-blueGray-200 rounded p-40">
          <h1 class="text-6xl font-normal leading-normal mt-0 mb-2">Here will be your content, instead of this box!</h1>
          <p>You can add one of the width utility classes to make it a little smaller.</p>
       </div>
    
      
       
    </div>
 </div>

