<div class="px-4 md:px-6 mx-auto w-full -mt-24">
    <div class="flex flex-wrap">
       <div class="w-full xl:w-8/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words w-full mb-8 shadow-lg rounded-lg bg-blueGray-800">
             <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
                <div class="flex flex-wrap items-center">
                   <div class="relative w-full max-w-full flex-grow flex-1">
                      <h6 class="uppercase mb-1 text-xs font-semibold text-blueGray-200">Overview</h6>
                      <h2 class="text-xl font-semibold text-white">Sales value</h2>
                   </div>
                </div>
             </div>
             <div class="p-4 flex-auto">
                <div class="relative h-350-px">
                   <canvas width="675" height="291" style="display: block; box-sizing: border-box; height: 350px; width: 810.4px;" id="chart-line"></canvas>
                </div>
             </div>
          </div>
       </div>
       <div class="w-full xl:w-4/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words w-full mb-8 shadow-lg rounded-lg bg-white">
             <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
                <div class="flex flex-wrap items-center">
                   <div class="relative w-full max-w-full flex-grow flex-1">
                      <h6 class="uppercase mb-1 text-xs font-semibold text-blueGray-500">Performance</h6>
                      <h2 class="text-xl font-semibold text-blueGray-800">Total orders</h2>
                   </div>
                </div>
             </div>
             <div class="p-4 flex-auto">
                <div class="relative h-350-px">
                   <canvas width="675" height="291" style="display: block; box-sizing: border-box; height: 350px; width: 810.4px;" id="bar-chart"></canvas>
                </div>
             </div>
          </div>
       </div>
    </div>

  


 </div>